body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
}
form {
  width: 30%;
  margin: 50px auto;
}
label, input, textarea {
  width: 100%;
  display: block;
}
input {
  margin: 5px 0 25px;
  padding: 3px;
}
button {
  margin: 25px 0;
}
