---
title: AVT498 - Senior Project
layout: default
---

{% include header.html %}
<div id="top-content">
  <div class="page-info">
    <small>Fall 2022 // Wednesday 4:30&ndash;7:10 // AB 1021</small>
    <h1><a href="{{ "/" | relative_url}}" />Senior Project</a></h1>
  </div>
  <div class="due-box">
    {% include due-box.html %}
  </div>
  <div class="arrows">
    {% include arrow-pattern.html %}
  </div>
</div>
<main>
  <section>
    <p class="section-title text-small"><span>Juana's Class</span></p>
    {% include student-grid-j.html %}
  </section>
  <section>
    <p class="section-title text-small"><span>Michael's Class</span></p>
    {% include student-grid-m.html %}
  </section>
</main>
